// Доп классы для страниц ====================================================================================================

// Структура общей верхней секции ========================================================================================
.banner-bg {
	position: relative;
	display: flex;
	align-items: flex-end;
	min-height: 640px;
	padding: 93px 0;
	background-size: cover;
  background-repeat: no-repeat;
	background-position: bottom center;
	background-image: url('../img/index-bg.jpg');}
.banner-bg__container {
	flex: 1 1 auto;
	z-index: 5;}
.banner-bg__subtitle {
	font-size: 28px;
	line-height: 33.6px;
	font-weight: 700;
	color: #fff;}
.banner-bg__btn {
	min-width: 262.65px;
	margin-top: 53px;}
//===================================================================================================================================

// Общий класс для страниц
.recurring {
  padding-top: 45px;
  padding-bottom: 32px;}
.recurring h2 {
  margin-bottom: 55px;}
//=============================================================================================================================

// Структура карточек картинки с текстом =============================================================
.card-bg__row {
	position: relative;
	justify-content: space-between;
	flex-wrap: wrap;}
.card-bg-item {
	position: relative;
	display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 54px 116px;
	flex: 0 1 49.8%;
	min-height: 370px;
	text-align: center;
	margin-bottom: 5px;
	p {
		position: relative;
		z-index: 5;
		color: #fff;
	}
}
.card-bg-item__title {
	position: relative;
	z-index: 5;
	margin-bottom: 15px;}
.card-bg-item .nuar_blk {
	background-color: #00000065;}
// ======================================================================================================================