//<Адаптив>===========================================================================================================================================
@media (max-width: 1460px) {
	._container {
		padding: 0 10px;}
}

@media (max-width: 1280px) {
	.header__menu-list {
    margin-right: 35px;}
	.menu-list a {
		padding: 5px 0px 5px 25px;}
}

@media (max-width: 1150px) {
	.header__logo {
    margin-right: 15px;}
	.logo-icon {
		flex: 0 0 180px;
		height: 35px;}
	.header__menu-list {
		margin-right: 10px;}
}

@media (max-width: 1050px) {
	.logo-icon {
    flex: 0 0 150px;
    height: 30px;}
}

@media (max-width: 1024px) {
	.logo-icon {
    flex: 0 0 110px;
    height: 25px;}
	.menu-list a {
		padding: 2.5px 0px 2.5px 25px;
		line-height: 1;}
	.header__contacts {
		flex: 0 0 165px;}
	.header__phone {
		font-size: 18px;}
	.header__phone:before {
		margin-top: 0px;}
}

@media (max-width: 940px) {
	.header__logo {
    margin-right: 0;}
	.menu-list a {
    padding: 2.5px 0px 2.5px 18px;}
	.header__contacts {
		flex: 0 0 135px;}
	.header__phone:before {
		display: none;}
}

@media (max-width: 768px) { 
	.header {
		position: fixed;
		width: 100%;
		padding: 5px 0;
		box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);}
	.logo-icon p {
		display: none;}
	.icon-menu {
		display: block;
		flex: 0 0 20px;
    height: 14px;}
	.icon-menu span {
    top: 6px;}
  .icon-menu.active span:first-child { 
    top: 7px;}
  .icon-menu.active span:last-child {
    bottom: 5px;}
	.header__menu-block {
		margin-right: 15px;}
	.header__menu-list {
		display: none;}
	.header__search form {
		max-height: 30px;}
	.header__contacts {
		flex: 0 0 133px;
    margin-left: auto;
    margin-right: 15px;}
	.header__phone {
		font-size: 18px;}
	.header__time-phone {
		display: none;}
  .header__popup-link {
  	display: none;}
  .header__popup-link_mob {
  	display: flex;
  	margin-left: 0;}
	section {
		padding: 20px 0 !important;}
	.title {
		margin-bottom: 15px;}
}

@media (max-width: 700px) {
	.mob-menu {
		width: 100%;
		right: -100%;
		-webkit-transition: right 0.8s;
		-o-transition: right 0.8s;
		transition: right 0.8s; }
}

@media (max-width: 612px) {
	.popup__img {
    flex: 0 1 43%;}
	.popup__form-block {
		padding: 35px 15px;}
}

@media (max-width: 515px) {
	.popup__img {
		display: none;}
	.popup__form-block {
		flex: 0 1 100%;}
}

@media (max-width: 480px) {
	.header__search {
    display: none;
	}
	.mob-search {
    display: flex;
	}
	.header__search.active {
    display: block;
    position: absolute;
    top: 50px;
    left: 0;
    max-width: 100%;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    margin: 0;
	}
	.search__input {
    border-radius: 0 !important;
	}
}

@media (max-width: 340px) {	
	.header__phone {
		font-size: 16px;}
}